.navbar {
    margin-bottom: 50px;
}

.navbar-brand {
    color: white;
    padding-right: 80px;
}

.nav-link {
    color: white;
    text-align: center;
}

.nav-link:hover, .navbar-brand:hover {
    color: #a3cfbb;
}

.custom-nav {
    background-color: #0f5132;
}

.active {
    color: #FFCC33;
}

.main {
    padding-top: 60px;
}

.card {
    box-sizing: border-box;
    margin-bottom: 20px;
}

.card-body-header {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background-color: #0f5132;
    color: white;
    
}

.card-body-header-img {
    text-align: center;
    background-color: #0f5132;
    color: white;
    padding-top: 2em;
    padding-bottom: 1em;
}

.card-title {
    text-align: center;
}

.card-btn {
    margin-bottom: 10px;
}

.listed-items {
    padding: 15px;
}